<div class="container">
  <div class="resume">
    <header class="page-header">
    <h1 class="page-title">Resume of Andrey Arias</h1>
    <small><i class="fa fa-clock-o"></i>Last Updated on:<time>Saturday, March 12, 2016</time></small>
    </header>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
          <div class="panel-heading resume-heading">
            <div class="row">
              <div class="col-lg-12">
                <div class="col-xs-12 col-sm-4">
                  <figure>
                    <img class="img-circle img-responsive" alt="Hello there!" src="http://i1027.photobucket.com/albums/y337/andrey_arias/pic1_zpszkpisgra.jpg">
                  </figure>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <ul class="list-group">
                    <li class="list-group-item">Andrey Arias</li>
                    <li class="list-group-item">Software Developer/Engineer</li>
                    <li class="list-group-item">Mind Matter/Freelance</li>
                    <li class="list-group-item"><i class="fa fa-phone"></i> (619) 739-3022 </li>
                    <li class="list-group-item"><i class="fa fa-envelope"></i> andreyarias35@gmail.com</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="bs-callout bs-callout-danger">
            <h4>Summary</h4>
            <li>Industries: DoD/Military/Aerospace</li>
            <li>Active DoD Clearance (exp. 2025)</li>
            <li>3 years hands-on OOP for client/server web applications experience using C/C++, Java, Python, Ruby, PHP, C#</li>
            <li>3 years of blended freelance experience developing with Ruby-On-Rails, LAMP stack and MEAN stack</li>
            <li>UI/UX: JavaScript, jQuery, HTML5, CSS3, AJAX, XML</li>
            <li>Adaptation for responsive design utilizing Bootstrap and Sass</li>
            <li>Knowledge of Shell Scripting (Bash) for automation of administrative tasks in Linux</li>
            <li>Experience building virtual Operating Systems and configuring virtual private networks utilizing VMWare workstation</li>
            <li>Experience deploying web applications to Heroku</li>
            <li>Agile/Waterfall Software Development Life Cycle</li>
            <li>Extensive experience utilizing Adobe Creative Suite (Photoshop CC, Premiere CC, After Effects CC)</li>
            <li>Creative, self-motivated, team player, pragmatic and a perfectionist</li>
            <li>Excellent communication, analytical and team building skills</li>
          </div>
          <div class="bs-callout bs-callout-danger">
            <h4>Research Interests</h4>
            <p>
              Software Engineering, Machine Learning, Artificial Intelligence,
              Penetration Testing, Reverse Engineering, Artificial Neural Networks,
              Data Science, Linux System Administration, Hacking, Android Development,
              Website Development, Nikola Tesla, Network Security, Cryptography.
            </p>
          </div>

          <div class="bs-callout bs-callout-danger">
            <h4>Prior Experiences</h4>
            <ul class="list-group">

              <!-- Most recent position -->
              <a class="list-group-item inactive-link" href="#">
                <h4 class="list-group-item-heading">Software Engineer at Vencore</h4>
                <p class="list-group-item-text"></p>
                <ul>
                  <li>
                    Continuous development of features and improvement of UI/UX for the SPAWAR / PEO C4I Integrated
                    Data Environment Repository (SPIDER).
                  </li>
                  <li>
                    Front-end UI/UX development utilizing JavaScript as well as the jQuery, Angular.js frameworks.
                  </li>
                  <li>
                    Back-end development for the C4I Advanced Planning Suite (CAPS) module utilizing C#, .NET Web
                    Forms and ASP.NET Dynamic Data leveraging Telerik Web Controls.
                  </li>
                  <li>
                    Development of database procedures and routines using Oracle SQL.
                  </li>
                  <li>
                    Provide daily task tracking via SCRUM.
                  </li>
                  <li>
                    Agile methodology maintained throughout the development cycle and sprint planning.
                  </li>
                </ul>
              </a>

              <a class="list-group-item inactive-link" href="#">
                <h4 class="list-group-item-heading">Software Engineer/Research Analyst at SPAWAR</h4>
                <p class="list-group-item-text"></p>
                <ul>
                  <li>
                    Normalize a System’s Integration database with over 51k records utilizing SQL Server and MS
                    Access.
                  </li>
                  <li>
                    Provide technical and analytical support to developers for current projects.
                  </li>
                  <li>
                    Creation of technical documentation using Adobe Acrobat Pro and Microsoft Office Suite which is
                    provided to users for use of the web application 'Work Acceptance Tool (WAT).
                  </li>
                  <li>
                    Provide daily task tracking via SCRUM.
                  </li>
                  <li>
                    Back-end development support utilizing SharePoint 2010, JavaScript and HTML.
                  </li>
                </ul>
              </a>

              <a class="list-group-item inactive-link" href="#">
                <h4 class="list-group-item-heading">Software Engineer Intern at Achieve Internet</h4>
                <p class="list-group-item-text"></p>
                <ul>
                  <li>
                    Front-End/Back-End development for creating website applications with two Content Management
                    Systems (Drupal and WordPress) utilizing HTML5, CSS3, XML, JavaScript in a LAMP Server
                    environment.
                  </li>
                  <li>
                    Provide efficient solutions for web application deficiencies and application bugs which are
                    managed and tracked via JIRA Software Development Tool.
                  </li>
                  <li>
                    Developed custom Drupal 7 modules using PHP.
                  </li>
                  <li>
                    Implementation of technical analysis through the preparation and development cycle of website
                    applications.
                  </li>
                  <li>
                    Provide daily task tracking via SCRUM.
                  </li>
                  <li>
                    Agile methodology maintained throughout project planning and development.
                  </li>
                </ul>
              </a>

            </ul>
          </div>
          <div class="bs-callout bs-callout-danger">
            <h4>Language and Platform Skills</h4>
            <ul class="list-group">
              <a class="list-group-item inactive-link" href="#">


                <div class="progress">
                  <div data-placement="top" style="width: 90%;"
                  aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">90%</span>
                    <span class="progress-type">Ruby/Ruby-on-Rails </span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 85%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">85%</span>
                    <span class="progress-type">Drupal/ Wordpress/ PHP/ Lamp Stack</span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 82%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">82%</span>
                    <span class="progress-type">.NET</span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 80%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">80%</span>
                    <span class="progress-type">JavaScript/ NodeJS/ MEAN Stack</span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 78%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">78%</span>
                    <span class="progress-type">Android</span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 75%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-success">
                    <span class="sr-only">75%</span>
                    <span class="progress-type">C/ C++/ Java</span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning">
                    <span class="sr-only">70%</span>
                    <span class="progress-type">Oracle SQL/ SQL Server/ MySQL/ SQLite/ PostgreSQL</span>
                  </div>
                </div>
                <div class="progress">
                  <div data-placement="top" style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
                    <span class="sr-only">60%</span>
                    <span class="progress-type">Python</span>
                  </div>
                </div>

                <div class="progress-meter">
                  <div style="width: 25%;" class="meter meter-left"><span class="meter-text">Learning</span></div>
                  <div style="width: 25%;" class="meter meter-left"><span class="meter-text">I'm Familiarized</span></div>
                  <div style="width: 30%;" class="meter meter-right"><span class="meter-text">I'm a guru</span></div>
                  <div style="width: 20%;" class="meter meter-right"><span class="meter-text">I''m good</span></div>
                </div>

              </a>

            </ul>
          </div>
          <div class="bs-callout bs-callout-danger">
            <h4>Education</h4>
            <table class="table table-striped table-responsive ">
              <thead>
                <tr>
                  <th>Degree</th>
                  <th>Institution</th>
                  <th>Graduation Year</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bachelors in Computer Science and Engineering</td>
                  <td>National University</td>
                  <td class="data-centered">2015</td>
                </tr>
                <tr>
                  <td>Associates in Computer Science</td>
                  <td>Southwestern College</td>
                  <td class="data-centered">2010</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
