<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>Hey There !!</h2>
    <hr>
    <p>
      I am a software developer &amp; engineer living in sunny San Diego, California.
    </p>
    <p>
      I enjoy being creative and getting to learn something new every day. I also have
      a crazy entrepreneurial mind, and a crazy thirst for knowledge, that is why
      throughout the day you would find me working on many crazy development ideas
      ranging from mobile to web to software applications.
    </p>
    <p>
      On my spare time I like to be in the outdoors, spend time with my lovely wife
      and our two crazy pugs, go to the gym, spend time working as a recording
      engineer/producer in my personal <a href="#">recording studio</a>, work on
      my pen test lab, and most importantly read, read, read!!!!.
    </p>
    <p>
      You can always send me a message through the link up in the nav bar to say hello
      or share any interesting stuff I may want to hear.
    </p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Blog</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><%= link_to post.title, post %></h3>
      <p><%= post.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Projects</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><%= link_to project.title, project %></h3>
      <p><%= project.created_at.strftime("%A, %b, %d") %></p>
    <% end %>
  </div>
</div>
