<h1 id="page_title">Thanks for the message !</h1>

<div class="skinny_wrapper wrapper_padding message_video">
  <h2>I'll write back soon, but in the meantime... <br>
     Enjoy this classy fireplace.</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/NHlAUblEc2U?autoplay=1" frameborder="0" allowfullscreen></iframe>
</iframe>
</div>
