<h1 id="page_title">Goodbye!</h1>

<div class="skinny_wrapper wrapper_padding">
  <h1>Thanks for the message!</h1>
  <p>I'll write back soon, but in the meantime... <br>
     Enjoy this classy fireplace.
  </p>
  <iframe id="contact_video" width="420" height="315"
src="http://www.classyfireplace.com/fullscreen.html">
</iframe>
</div>
