<h1 id="page_title">Thanks for the message !</h1>

<div class="skinny_wrapper wrapper_padding message_video">
  <h2>I'll write back soon, but in the meantime... <br>
     Enjoy this classy fireplace.</h2>
  <iframe src="https://media2.giphy.com/media/ZHXz9MZbJI1YA/200.gif" width="358" height="203" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
