<h1 id="page_title">Blog</h1>
<div id="post_wrapper" class="skinny_wrapper">
	<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to post.title, post %></h2>
    <hr>
  </div>
  <% end %>
</div>
<div class="paginate">
  <%= will_paginate @posts %>
</div>
